footer {
    display: flex;
    align-items: center;

    padding: 10px 0 10px 30px;
}

.footer-image {
    width: 40%;
}

.footer-image img {
    height: 60px;
    width: 60px;
}

.footer-text {
    width: 60%;
}

.footer-text strong {
    font-size: 14px;
    color: #0000ff;
}